html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

body {

  margin: 0;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.banner-content {
  position: absolute;
  left: 50%;
  bottom: -.5%;
  width: 100%;
  max-width: 50em;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

.card-title {
  font-weight: bold;
  font-size: 4rem;
  line-height: 5.5rem;
  margin-bottom: 0;
}

span {
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
}

.card-body {
  margin-top: 1.5rem;
  font-style: italic;
  font-size: 2rem;
}
